
<ion-content [fullscreen]="true" color="warning">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input value="custom" ></ion-input>
          <ion-label>Default Item</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input value="custom" ></ion-input>

        </ion-item>
        <ion-label>Default Item</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
